body {
  margin: 50% auto;

  height: 1500px;

  width: 1500px;

  background-image: url("./BackgroundImage.img");
  background-size: cover;
  background-repeat: none;

  border-radius: 20px;
}

body > div {
  position: relative;

  height: 100%;

  width: 100%;
}

body > div > button.start {
  display: inline-block;

  position: relative;

  margin: 50% 50%;

  transform: translate(-50%, -50%);

  padding: 0px;

  height: 24%;

  width: 96%;

  border-radius: 20px;

  line-height: 100%;

  font-size: 400%;
  font-family: "Hiragino Mincho ProN";
}

body > div > button.stop {
  display: inline-block;
  
  margin: 50px 50%;

  transform: translateX(-50%);

  width: 120px;

  border-radius: 5px;

  font-size: 26px;
  font-family: "Hiragino Mincho ProN";
}

body > div > p.result {
  display: inline-block;

  position: relative;

  margin: 50% 50%;

  transform: translate(-50%, -50%);

  height: 24%;

  width: 96%;

  border-radius: 20px;

  line-height: 100%;

  font-size: 400%;
  font-family: "Hiragino Mincho ProN";

  background-color: #FFF;
}

body > div > div > div {
  margin: 0px;
}

body > div > div > div > button.yes, button.no, p.question {
  display: inline-block;

  background-color: #FFF;

  border-radius: 5px;

  font-size: 26px;
  font-family: "Hiragino Mincho ProN";
}