body {
  margin: 50% auto;

  /* transform: translate(-50%, -50%); */

  height: 1000px;

  width: 1000px;

  background-image: url("./BackgroundImage.img");
  background-size: cover;
  background-repeat: none;
}

body > div {
  position: relative;

  height: 100%;

  width: 100%;
}

body > div > button.start {
  display: inline-block;

  position: relative;

  margin: 50% 50%;

  transform: translate(-50%, -50%);

  padding: 0px;

  height: 24%;

  width: 96%;

  line-height: 100%;

  font-size: 400%;
}

body > div > button.stop {
  display: inline-block;
  
  margin: 50px 50%;

  transform: translateX(-50%);

  width: 100px;

  font-size: 18px;
}

body > div > p.result {
  display: inline-block;

  position: relative;

  margin: 50% 50%;

  transform: translate(-50%, -50%);

  height: 24%;

  width: 96%;

  line-height: 100%;

  font-size: 400%;

  background-color: #FFF;
}

body > div > div > div {
  margin: 0px;
}

body > div > div > div > button.yes, button.no, p.question {
  display: inline-block;

  background-color: #FFF;

  font-size: 18px;
}